extends layout

block content
  h1 Lista de Autores
  
  ul
  each author in author_list
    li 
      a(href=author.url) #{author.name} 
      | (#{author.lifespan})

  else
    li No hay autores por el momento.
