extends layout

block content
  h1 Lista  de Libros
  
  ul
    each book in book_list
      li 
        a(href=book.url) #{book.title}
        |  (#{book.author.name})

    else
      li No hay libros por el momento.
