extends layout

block content

  h1 Crear Genero
          
  form(method='POST' action='')
    div.form-group
      label(for='name') Genero:
      input#name.form-control(type='text', placeholder='Fantasia, Poecia etc.' name='name' required='true' value=(undefined===genre ? '' : genre.name) )
    button.btn.btn-primary(type='submit') Añadir

  if errors 
    ul
      for error in errors
        li!= error.msg